# Purpose

Students have the option of using Pandas and SQL to complete this project. A Phase 1 project done completely in pandas, completely in SQL, or a mixture of the two can all be considered a fine Phase 1 project. This notebook serves as a resource for setting up an SQL database for students who wish to use SQL in their Phase 1 project.

**To create the `movies.db` database, run the code cells below.**
> The Entity Relational Diagram is below

In [2]:
import pandas as pd
import sqlite3 
conn = sqlite3.connect('data/movies.db')
cur = conn.cursor()

In [3]:
from src.make_db import create_movies_db

In [4]:
create_movies_db()

imdb_title_principals table created successfully....
imdb_name_basic table created successfully....
imdb_title_crew table created successfully....
imdb_title_ratings table created successfully....
imdb_title_basics table created successfully....
imdb_title_akas table created successfully....
tn_movie_budgets table created successfully....
tmdb_movies table created successfully....
bom_movie_gross table created successfully....
rotten_tomatoes_critic_reviews table created successfully....
rotten_tomatoes_movies table created successfully....
=========================================================
Inserting data into the imdb_title_crew table....
Inserting data into the tmdb_movies table....
Inserting data into the imdb_title_akas table....
Inserting data into the imdb_title_ratings table....
Inserting data into the imdb_name_basics table....
Inserting data into the rotten_tomatoes_movies table....
Inserting data into the rotten_tomatoes_critic_reviews table....
Inserting data into the imdb_title_basics table....
Inserting data into the tn_movie_budgets table....
Inserting data into the bom_movie_gross table....
Inserting data into the imdb_title_principals table....
=========================================================
Database created successfully!
To connect to the database: open a connection using the path "data\movies.db"

![movies.db schema](images/movies_db_schema.png)

In [6]:
#rtom = pd.read_sql('''SELECT * 
#                 FROM rotten_tomatoes_movies
#                 ;''', conn)
#rtom.head(10)

#tn_budgets = pd.read_sql('''SELECT *
#                 FROM tn_movie_budgets
#                 ;''', conn)
#tn_budgets.head()

imdb = pd.read_sql('''SELECT *
                 FROM imdb_title_basics
                 ;''', conn)
imdb.head()

,idx,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [10]:
#look for a specific title
df1 = imdb[imdb['primary_title'].str.contains("Star Wars")]
df1

,idx,tconst,primary_title,original_title,start_year,runtime_minutes,genres
2370,2370,tt10239898,Star Wars: Battle for the Holocrons,Star Wars: Battle for the Holocrons,2020,NaN,"Action,Adventure,Fantasy"
2947,2947,tt10300394,Untitled Star Wars Film,Untitled Star Wars Film,2022,NaN,None
2948,2948,tt10300396,Untitled Star Wars Film,Untitled Star Wars Film,2024,NaN,None
2949,2949,tt10300398,Untitled Star Wars Film,Untitled Star Wars Film,2026,NaN,Fantasy
3219,3219,tt10321138,RiffTrax: Star Wars: The Force Awakens,RiffTrax: Star Wars: The Force Awakens,2016,NaN,Comedy
34425,34425,tt2275656,Star Wars: Threads of Destiny,Star Wars: Threads of Destiny,2014,110.0,"Action,Adventure,Sci-Fi"
41443,41443,tt2488496,Star Wars: Episode VII - The Force Awakens,Star Wars: Episode VII - The Force Awakens,2015,136.0,"Action,Adventure,Fantasy"
42223,42223,tt2527336,Star Wars: The Last Jedi,Star Wars: Episode VIII - The Last Jedi,2017,152.0,"Action,Adventure,Fantasy"
42224,42224,tt2527338,Star Wars: The Rise of Skywalker,Star Wars: The Rise of Skywalker,2019,NaN,"Action,Adventure,Fantasy"
63494,63494,tt3648510,Plastic Galaxy: The Story of Star Wars Toys,Plastic Galaxy: The Story of Star Wars Toys,2014,70.0,"Documentary,History,Sci-Fi"
65705,65705,tt3748528,Rogue One: A Star Wars Story,Rogue One,2016,133.0,"Action,Adventure,Sci-Fi"
66299,66299,tt3778644,Solo: A Star Wars Story,Solo: A Star Wars Story,2018,135.0,"Action,Adventure,Fantasy"
66895,66895,tt3810772,Star Wars: The New Republic,Star Wars: The New Republic,2014,NaN,"Action,Adventure,Sci-Fi"
76875,76875,tt4401260,Forsaken: A Star Wars Fan Film,Forsaken: A Star Wars Fan Film,2015,NaN,"Adventure,Fantasy,Sci-Fi"
80804,80804,tt4644286,Star Wars Begins: A Filmumentary,Star Wars Begins: A Filmumentary,2011,139.0,Documentary
84007,84007,tt4854650,Star Wars: The Fallen Brother,Star Wars: The Fallen Brother,2017,NaN,"Action,Fantasy,Sci-Fi"
101887,101887,tt5957180,Star Wars: The Dark Reckoning,Star Wars: The Dark Reckoning,2017,45.0,Sci-Fi
111557,111557,tt6522426,Call of the Jedi: A Star Wars Story,Call of the Jedi: A Star Wars Story,2017,60.0,Sci-Fi
113438,113438,tt6682462,Star Wars FanFilm the Padawan I 'The Beginning',Star Wars FanFilm the Padawan I 'The Beginning',2012,NaN,Sci-Fi
122662,122662,tt7421764,Star Wars: Rise of the First Order,Star Wars: Rise of the First Order,2017,87.0,"Action,Drama"
126805,126805,tt7753242,Star Wars Night at the Highball,Star Wars Night at the Highball,2017,91.0,Music
129337,129337,tt7974630,Untitled Star Wars Project,Untitled Star Wars Project,2022,NaN,Sci-Fi
140627,140627,tt9129500,Fall of Lotus: A Star Wars Story,Fall of Lotus: A Star Wars Story,2018,NaN,"Action,Adventure,Fantasy"
143595,143595,tt9548962,Star Wars: The Fans Vs Disney,Star Wars: The Fans Vs Disney,2018,57.0,Documentary
144180,144180,tt9635760,Star Wars: Shadow of the Jedi,Star Wars: Shadow of the Jedi,2019,NaN,"Action,Adventure,Fantasy"
145584,145584,tt9842704,Star Wars: Literacy Strikes Back,Star Wars: Literacy Strikes Back,2018,51.0,Fantasy

In [40]:

df = pd.read_sql('''SELECT release_date, movie, production_budget, domestic_gross, worldwide_gross, genres
                 FROM tn_movie_budgets AS tn
                 JOIN imdb_title_basics AS imdb
                 ON tn.movie = 
                 imdb.primary_title
                 ;''', conn)

In [41]:
df.head()

,release_date,movie,production_budget,domestic_gross,worldwide_gross,genres
0,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279",Horror
1,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875","Action,Adventure,Fantasy"
2,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350","Action,Adventure,Sci-Fi"
3,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963","Action,Adventure,Sci-Fi"
4,"Apr 27, 2018",Avengers: Infinity War,"$300,000,000","$678,815,482","$2,048,134,200","Action,Adventure,Sci-Fi"

In [60]:
#what does x title look like in other db?
df1 = df[df['movie'].str.contains("Star Wars")]
df1

,release_date,movie,production_budget,domestic_gross,worldwide_gross,genres
8,"May 25, 2018",Solo: A Star Wars Story,"$275,000,000","$213,767,512","$393,151,347","Action,Adventure,Fantasy"
37,"Dec 16, 2016",Rogue One: A Star Wars Story,"$200,000,000","$532,177,324","$1,049,102,856","Action,Adventure,Sci-Fi"

Issues w/ different databases to this point:
#1) the bottom line here is that both databases don't have the same movies in them. Possibly b.c. I've done the wrong join in #SQL initially?
#2) the genres don't equally match up, so they can't be compared. One may have more detail than another
#3) Rotten Tomatoes has a lot of Star Wars (for example) but

In [39]:
df.genres.unique()

array(['Horror', 'Action,Adventure,Fantasy', 'Action,Adventure,Sci-Fi',
       'Action,Adventure,Thriller', 'Action,Thriller',
       'Action,Adventure,Western', 'Adventure,Animation,Comedy',
       'Adventure,Family,Fantasy', 'Adventure,Fantasy',
       'Action,Crime,Thriller', 'Action,Adventure,Comedy',
       'Action,Adventure,Drama', 'Action,Drama', None,
       'Action,Adventure,History', 'Action,Adventure', 'Adventure',
       'Family', 'Action,Adventure,Animation', 'Documentary',
       'Fantasy,Musical', 'Action,Adventure,Horror', 'Drama,Romance',
       'Comedy,Drama,Family', 'Drama', 'Drama,Mystery,Sci-Fi',
       'Adventure,Comedy,Family', 'Fantasy', 'Action,Adventure,Family',
       'Adventure,Drama,Family', 'Action,Horror,Sci-Fi', 'Action,Sci-Fi',
       'Animation', 'Crime,Drama', 'Biography,Documentary,History',
       'Adventure,Drama,Sci-Fi', 'Drama,Fantasy,Romance',
       'Family,Fantasy,Musical', 'Action,Drama,History', 'Sci-Fi',
       'Documentary,Drama,Sport', 'Adventure,Drama,Sport',
       'Fantasy,Romance', 'Action,Drama,Fantasy', 'Comedy,Fantasy,Horror',
       'Action,Drama,Thriller', 'Drama,Fantasy,Horror',
       'Adventure,Animation,Family', 'Adventure,Animation,Drama',
       'Action,Comedy,Fantasy', 'Action,Comedy',
       'Action,Adventure,Biography', 'Thriller',
       'Documentary,Drama,Family', 'Drama,Horror,Thriller',
       'Biography,Documentary', 'Documentary,History',
       'Documentary,Family', 'Animation,Documentary',
       'Drama,Romance,Thriller', 'Drama,Family', 'Action,History,War',
       'Comedy,Family,Fantasy', 'Action,Animation,Comedy',
       'Action,Mystery,Thriller', 'Drama,Thriller',
       'Animation,Documentary,Family', 'Action,Drama,Sci-Fi',
       'Action,Adventure,Crime', 'Adventure,Mystery,Sci-Fi',
       'Action,Adventure,Mystery', 'Action', 'Adventure,Drama,Fantasy',
       'Action,Crime,Sci-Fi', 'Documentary,News', 'Documentary,Drama',
       'Comedy', 'Comedy,Drama', 'Action,Sci-Fi,Thriller',
       'Drama,Sci-Fi,Thriller', 'Action,Fantasy,War',
       'Drama,Romance,Sci-Fi', 'Action,Comedy,Crime',
       'Action,Drama,Family', 'Adventure,Sport', 'Action,Drama,Romance',
       'Documentary,Thriller', 'Action,Drama,Mystery', 'Drama,Western',
       'Comedy,Romance', 'Biography,Crime,Drama',
       'Comedy,Documentary,Drama', 'Action,Crime,Sport',
       'Horror,Sci-Fi,Thriller', 'Musical', 'Comedy,Fantasy',
       'Drama,Family,Fantasy', 'Music', 'Comedy,Drama,Romance',
       'Action,Crime', 'Adventure,Comedy,Drama', 'Drama,Mystery,Thriller',
       'Crime,Drama,Mystery', 'Action,Comedy,Sci-Fi',
       'Action,Adventure,Romance', 'Drama,History',
       'Action,Family,Fantasy', 'Action,Crime,Fantasy', 'Adventure,Drama',
       'Animation,Comedy,Family', 'Action,Comedy,Family',
       'Drama,Fantasy,Musical', 'Documentary,Sport',
       'Action,Comedy,Horror', 'Biography,Drama,Musical',
       'Drama,Horror,Mystery', 'Biography,Documentary,Drama',
       'Comedy,Mystery', 'Mystery,Thriller', 'Action,Drama,War',
       'Comedy,Family,Romance', 'Horror,Thriller',
       'Crime,Horror,Thriller', 'Romance', 'Crime,Mystery,Thriller',
       'Biography,Drama', 'Action,Comedy,Romance', 'Action,Crime,Drama',
       'Comedy,Drama,History', 'Mystery,Sci-Fi,Thriller', 'Crime',
       'Adventure,Biography,Documentary', 'Biography,Drama,Thriller',
       'Drama,History,War', 'Crime,Drama,Thriller', 'Drama,Horror',
       'Action,Thriller,War', 'Action,Mystery,Sci-Fi',
       'Action,Animation,Fantasy', 'Comedy,Drama,Musical',
       'Action,Crime,Mystery', 'Crime,Documentary,Drama', 'Drama,Sci-Fi',
       'Action,Fantasy,Horror', 'Biography,Crime,Documentary', 'War',
       'Comedy,Romance,Sci-Fi', 'Biography,Drama,History',
       'Crime,Drama,Family', 'Biography,Drama,Sport', 'Adventure,Comedy',
       'Comedy,Musical', 'Biography,Drama,Western', 'Comedy,Crime,Drama',
       'Mystery', 'Biography,Drama,Romance', 'Crime,Thriller',
       'Biography,Comedy,Drama', 'Action,Romance', 'Drama,Sport',
       'Comedy,Western', 'Action,Biography,Drama',
       'Action,Fantasy,Thriller', 'Fantasy,Horror',
       'Biography,Drama,Music', 'Comedy,Crime,Romance',
       'Action,Drama,Horror', 'Adventure,Comedy,Crime',
       'Drama,Music,Musical', 'Horror,Mystery,Thriller',
       'Adventure,Drama,Horror', 'Drama,Musical,Romance',
       'Crime,Drama,Fantasy', 'Romance,Sci-Fi,Thriller',
       'Action,Comedy,Drama', 'Action,Biography,Comedy', 'Comedy,Family',
       'Adventure,Comedy,Fantasy', 'Crime,Drama,History',
       'Biography,Documentary,Family', 'Adventure,Drama,Mystery',
       'Adventure,Drama,Thriller', 'Biography,Documentary,Sport', 'Sport',
       'Comedy,Drama,Thriller', 'Documentary,Fantasy,Mystery',
       'Adventure,Drama,History', 'Drama,War', 'Comedy,Music',
       'Animation,Fantasy,Musical', 'Animation,Family,Fantasy',
       'Family,Fantasy', 'Animation,Drama,Fantasy', 'Action,Comedy,Sport',
       'Fantasy,Horror,Mystery', 'Action,Fantasy,Western', 'Comedy,Crime',
       'Drama,History,Thriller', 'Adventure,Comedy,Music',
       'Horror,Mystery', 'Adventure,Comedy,Sci-Fi', 'Comedy,Drama,Sport',
       'Comedy,Horror,Thriller', 'Biography,Drama,Family', 'Western',
       'Drama,Horror,Sci-Fi', 'Drama,Family,Sport',
       'Drama,Fantasy,Thriller', 'Action,Documentary',
       'Horror,Mystery,Sci-Fi', 'Action,History', 'Drama,Family,Romance',
       'Drama,Music', 'Documentary,Music', 'Comedy,Sci-Fi',
       'Biography,Drama,War', 'Adventure,Biography,Drama',
       'Adventure,Drama,Western', 'Adventure,Documentary,Drama',
       'Crime,Drama,Horror', 'Sci-Fi,Thriller', 'Drama,Fantasy',
       'Animation,Comedy,Drama', 'Fantasy,Thriller',
       'Comedy,Romance,Sport', 'Documentary,Drama,War',
       'Adventure,Comedy,Romance', 'Drama,Music,Romance',
       'Comedy,Horror,Sci-Fi', 'Adventure,Documentary',
       'Biography,Documentary,Music', 'Biography,Comedy,Documentary',
       'Comedy,Horror,Romance', 'Comedy,Fantasy,Romance',
       'Comedy,Crime,Thriller', 'Comedy,Horror',
       'Adventure,Animation,Documentary', 'Adventure,Drama,Romance',
       'Action,Sport', 'Action,Biography,Crime', 'Drama,History,Sport',
       'Animation,Sci-Fi', 'Adventure,Documentary,Music',
       'Comedy,Drama,Music', 'Action,Comedy,Mystery',
       'Action,Adventure,Documentary', 'Action,Drama,Sport',
       'Adventure,Fantasy,Mystery', 'Drama,Romance,War',
       'Action,Horror,Mystery', 'Fantasy,Horror,Thriller',
       'Action,Romance,Sport', 'Drama,Mystery',
       'Adventure,Documentary,War', 'Drama,History,Romance',
       'Action,Drama,Western', 'Biography,Drama,Mystery',
       'Drama,Mystery,Romance', 'Adventure,Documentary,Sport',
       'Drama,Music,Thriller', 'Family,Horror,Romance',
       'Action,Romance,Thriller', 'Drama,Fantasy,Mystery',
       'Comedy,Music,Romance', 'Drama,Fantasy,Sci-Fi',
       'Action,Comedy,Documentary', 'Crime,Horror,Mystery',
       'Documentary,Western', 'Comedy,Mystery,Sci-Fi',
       'Comedy,Mystery,Thriller', 'Comedy,Drama,Fantasy',
       'Crime,Fantasy,Thriller', 'Comedy,Sport',
       'Adventure,Documentary,History', 'Drama,Family,Music',
       'Documentary,War', 'Comedy,Documentary', 'Action,Horror,Thriller',
       'Animation,Drama', 'Adventure,Biography,Comedy',
       'Horror,Music,Thriller', 'Comedy,Music,War',
       'Documentary,History,Western', 'Adventure,Animation',
       'Action,Documentary,Drama', 'Adventure,Family,Sci-Fi',
       'Drama,Thriller,War', 'Biography,Comedy,Crime',
       'Drama,Mystery,War', 'Comedy,Drama,Mystery',
       'Documentary,Drama,News', 'Adventure,Crime,Drama',
       'Family,Fantasy,Music', 'Drama,Fantasy,Music',
       'Adventure,Horror,Sci-Fi', 'Adventure,Comedy,Horror', 'Biography',
       'Drama,History,Mystery', 'Comedy,Horror,Mystery', 'Action,Horror',
       'Biography,Family,Sport', 'Comedy,Drama,Horror',
       'Drama,Family,Thriller', 'Horror,Romance',
       'Documentary,History,Mystery', 'Comedy,Thriller',
       'Adventure,Family', 'Crime,Mystery,Sci-Fi', 'Crime,Drama,Musical',
       'Documentary,Sport,Thriller', 'Drama,Family,History',
       'Fantasy,Horror,Sci-Fi', 'Adventure,Fantasy,Horror',
       'Adventure,Horror,Mystery', 'Animation,Documentary,Sci-Fi',
       'Animation,Horror', 'Crime,Drama,Romance', 'Drama,Musical',
       'Animation,Family', 'Drama,Family,Mystery', 'Action,Crime,Horror',
       'Adventure,Crime,Thriller', 'Horror,Romance,Thriller',
       'Biography,Drama,Fantasy', 'Comedy,Fantasy,Sci-Fi',
       'Crime,Documentary,History', 'Drama,Thriller,Western',
       'Crime,Documentary', 'Comedy,Fantasy,Musical',
       'Documentary,Drama,History', 'Horror,Sci-Fi',
       'Documentary,History,War', 'Biography,Documentary,War',
       'Comedy,Romance,Thriller', 'Comedy,Crime,Horror',
       'Adventure,Horror', 'Music,War', 'Documentary,Music,War',
       'Documentary,Drama,Reality-TV', 'Comedy,Fantasy,Thriller',
       'Documentary,Horror', 'Documentary,Family,History',
       'Action,Biography,Documentary', 'Horror,Musical', 'Family,Sci-Fi',
       'Romance,Thriller'], dtype=object)